<img src="assets/card_back.svg" class="card-back" style="position:absolute;top: 0;left: 20px" alt="card_back">
<img src="assets/card_back.svg" class="card-back" style="position:absolute;top: 0;left: 15px" alt="card_back">
<img src="assets/card_back.svg" class="card-back" style="position:absolute;top: 0;left: 10px" alt="card_back">
<img src="assets/card_back.svg" class="card-back" style="position:absolute;top: 0;left: 5px" alt="card_back">
<img src="assets/card_back.svg" class="card-back" style="position:absolute;top: 0;left: 0px" alt="card_back">

